<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
    body {background: red;}
    h1   {color: blue;}
  </style>
</head>
<body>
    <h1>That was easy! <%= name + " " + new Date() %></h1>  
</body>
</html>